In [1]:
import graphlab as gl
import os
import pandas as pd

In [3]:
people= pd.read_csv('people-example.csv')

In [3]:
print os.getcwd()

C:\Users\skgoudax

In [4]:
people.tail()

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23

## Using SFrame

In [ ]:
people_lab=gl.SFrame('people-example.csv')